@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.btn {
  border: 2px solid $color-border;
  @include flex-center;
  height: 32px;
  border-radius: $radius-sm;
  padding-left: $spacing-xl;
  padding-right: $spacing-xl;

  &.primaryBtn {
    background: $color-primary;
    color: #ffffff;
    @include fontStyle($font-sm, 400, 1.5);
  }

  &.secondaryBtn {
    background-color: transparent;
    color: #ffffff;
    @include fontStyle($font-sm, 400, 1.5);
  }
}
