.heroBanner {
  width: 100%;
  overflow-x: auto;

  .bannerRow {
    display: flex;
    gap: 18px;
    overflow-x: auto;
    height: 187px;

    .banner {
      min-width: 320px;
      max-width: 380px;
      height: 100%;
      border-radius: 18px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      color: #fff;
      position: relative;
      flex-shrink: 0;
    }
  }

  @media (max-width: 700px) {
    .bannerRow {
      gap: 10px;

      .banner {
        min-width: 220px;
        max-width: 260px;
      }
    }
  }
}
