@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.filterBarContainer {
  display: flex;
  gap: $spacing-sm;
  margin-top: $spacing-lg;

  .filterOption {
    border: 2px solid $color-border;
    padding: 4px 12px;
    text-align: center;
    @include flex-center;
    color: $color-text;
    @include fontStyle($font-xs, 400, 1.5);
    border-radius: $radius-sm;
    cursor:pointer;
    &.selected {
      background: $color-primary;
    }
  }
}
