.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  z-index: 10;
  padding-left: 112px;
  padding-right: 112px;
}

@media (max-width: 600px) {
  .header {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
  .logo {
    width: 141px;
    height: 25px;
  }
  
}


.brand {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.center {
  flex: 1;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
  .searchIcon {
    width: 44px;
    height: 44px;
    border-radius: 6ox;
  }
  .notificationIcon {
    width: 44px;
    height: 44px;
    border-radius: 6px;
  }
}


@media (max-width: 600px) {
  .header {
    padding: 0 10px;
    height: 54px;
  }
  .brand {
    font-size: 1rem;
  }
  .right {
    gap: 8px;
  }
  .loginBtn, .registerBtn {
    padding: 5px 12px;
    font-size: 0.95rem;
  }
} 