.searchBar {
  display: flex;
  align-items: center;
  background: #23202b;
  border: 2px solid #332e42;
  border-radius: 6px;
  padding: 8px 12px;
  height: 34px;
  width: 100%;
  margin-top: 20px;

  .searchIcon {
    margin-right: 9px;
    display: flex;
    width: 16px;
    height: 16px;
    align-items: center;
    color: #b0aeb8;
  }

  .input {
    background: transparent;
    border: none;
    outline: none;
    color: #837b99;
    font-size: 13px;
    width: 100%;
    padding: 2px 0;

    &::placeholder {
      color: #837b99;
      opacity: 1;
    }
  }

  @media (max-width: 600px) {
    max-width: 98vw;
    padding: 6px 8px;
    margin-top: 14px;
    .input {
      font-size: 0.98rem;
    }
  }
}
